@charset "UTF-8";
@media (max-width: 790px) {
  body {
    font-size: 55%;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 50%;
  }
}
:root {
  --h1-font:clamp(60px,7vw,150px);
  --h2-font:2.2rem;
  --h3-font:2rem;
  --h4-font:1.2rem;
  --p-font:1.02rem;
  --link-font:.95rem;
  --small-font:.8rem;
}

.youtube {
  background-color: red;
  color: white;
}

.facebook {
  background-color: blue;
  color: white;
}

.link:nth-child(1) {
  transition-delay: 0.1s;
}

.link:nth-child(2) {
  transition-delay: 0.2s;
}

.link:nth-child(3) {
  transition-delay: 0.3s;
}

.link:nth-child(4) {
  transition-delay: 0.4s;
}

.link:nth-child(5) {
  transition-delay: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: cursive;
}

img {
  max-width: 100%;
}

body {
  font-size: 62.25%;
  background-color: #fdfdfd;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 4rem 0 3rem;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 51);
  border-radius: 20px;
}

.btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--link-font);
  text-transform: capitalize;
  background: rgb(255, 0, 51);
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(255, 85, 0);
  transition: 0.4s ease;
  z-index: -1;
}
@media (max-width: 790px) {
  .btn {
    font-size: var(--small-font);
    padding: 0.5rem 1.5rem;
  }
}
.btn:hover::before {
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 3.5rem;
}
.heading p {
  font-size: var(--p-font);
  position: relative;
  text-transform: uppercase;
  color: black;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.heading p::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 0, 51);
}
.heading p::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(255, 0, 51);
  bottom: -12px;
  left: 70%;
}
.heading h2 {
  text-transform: capitalize;
  text-align: center;
  color: black;
  margin-top: 1rem;
  font-size: var(--h2-font);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 0;
  transition: 0.4s ease;
  z-index: 3000;
}
.header.onscroll {
  background-color: #fdfdfd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1Rem;
}
.header .logo {
  color: black;
  font-size: var(--h3-font);
  font-weight: 700;
  margin-bottom: 1REM;
}
.header .logo span {
  color: rgb(255, 0, 51);
  font-size: 1.7rem;
  padding-left: 0.5rem;
  transform: rotate(-40deg);
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 790px) {
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: 300px;
    flex-direction: column;
    background-color: #fdfdfd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3000;
    transition: 0.4s ease;
  }
}
.header .navbar.open {
  right: 0;
}
.header .navbar a {
  display: inline-block;
  margin: 0 1rem;
  font-size: var(--link-font);
  color: black;
  transition: 0.3s ease;
  font-weight: 600;
}
@media (max-width: 790px) {
  .header .navbar a {
    margin-bottom: 1rem;
    font-size: var(--p-font);
  }
}
.header .navbar a:hover {
  color: rgb(255, 0, 51);
}
.header .links {
  display: flex;
  align-items: center;
}
.header .links #menu {
  display: none;
}
@media (max-width: 790px) {
  .header .links #menu {
    display: block;
  }
}
.header .links .navbtn {
  display: inline-block;
  font-size: var(--p-font);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
}
.header .links .navbtn:hover {
  background-color: #fff0f3;
}
.header .links #not-btn {
  position: relative;
}
.header .links #not-btn::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: rgb(255, 0, 51);
  border-radius: 50%;
  left: 55%;
  top: 7px;
  border: 0.5px solid black;
}
@media (max-width: 790px) {
  .header .links #not-btn::before {
    display: none;
  }
}
.header .search-form {
  position: absolute;
  top: 100%;
  width: 50%;
  right: 17%;
  background-color: #fff0f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding: 0.3rem;
  border-radius: 0.5rem;
  transition: 0.4s ease;
  opacity: 0;
  transform: scale(0);
}
@media (max-width: 790px) {
  .header .search-form {
    width: 90%;
    right: 1.5rem;
  }
}
.header .search-form input {
  width: 100%;
  padding: 0.8rem;
  font-size: var(--link-font);
}
.header .search-form.open {
  transform: scale(1);
  opacity: 1;
}

.footer {
  background-color: #fff0f3;
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
.footer__content .col:first-of-type .logo {
  color: rgb(255, 0, 51);
  font-size: var(--h4-font);
  font-weight: 700;
  margin-bottom: 1REM;
}
.footer__content .col:first-of-type .logo span {
  color: rgb(255, 0, 51);
  font-size: 1.7rem;
  padding-left: 0.5rem;
  transform: rotate(-40deg);
}
.footer__content .col:first-of-type p {
  width: 80%;
  margin: 1rem 0;
  line-height: 1.5;
  font-size: var(--link-font);
  color: #838383;
}
.footer__content .col:first-of-type .social {
  margin-bottom: 1rem;
}
.footer__content .col:first-of-type .social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(255, 0, 51);
  color: #fdfdfd;
  font-size: var(--p-font);
  margin-right: 0.35rem;
  transition: 0.4s ease;
}
.footer__content .col:first-of-type .social a:hover {
  transform: scale(1.05);
}
.footer__content .col:first-of-type .created span {
  display: block;
  color: rgb(255, 0, 51);
  font-size: var(--small-font);
}
.footer__content .col h3 {
  font-size: var(--h4-font);
  color: black;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.footer__content .col li {
  margin-bottom: 1rem;
}
.footer__content .col li a {
  display: block;
  font-size: var(--small-font);
  color: #838383;
  transition: 0.4s ease;
  font-weight: 400;
}
.footer__content .col li a:hover {
  color: rgb(255, 0, 51);
  transform: translateX(5px);
}
.footer__content .col:last-of-type li {
  font-size: var(--small-font);
  font-weight: 600;
  color: #838383;
}
.footer__content .col:last-of-type li i {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  background-color: rgb(255, 0, 51);
  color: #fdfdfd;
  text-align: center;
  margin-right: 0.25rem;
}

.landing {
  height: 100vh;
  padding-top: 10rem;
}
.landing .container {
  width: 100%;
  height: 100%;
}
.landing__content {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: blue;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(239, 78, 78, 0.1764705882);
}
@media (max-width: 790px) {
  .landing__content {
    flex-direction: column;
    padding-top: 2rem;
    align-items: flex-start;
  }
}
.landing__content img {
  width: 100%;
  max-width: 550px;
  padding-right: 4rem;
}
@media (max-width: 930px) {
  .landing__content img {
    padding-right: 0;
    width: 400px;
  }
}
@media (max-width: 790px) {
  .landing__content img {
    width: 320px;
    position: absolute;
    bottom: 0rem;
    right: -1rem;
  }
}
@media (max-width: 450px) {
  .landing__content img {
    width: 275px;
  }
}
.landing__content .text {
  padding-left: 3rem;
}
@media (max-width: 450px) {
  .landing__content .text {
    padding-left: 1rem;
  }
}
.landing__content .text span:not(:last-child) {
  font-size: var(--link-font);
  color: black;
}
.landing__content .text h1 {
  margin-top: -1rem;
  font-size: var(--h1-font);
  color: black;
}
.landing__content .text h1 .i {
  position: relative;
  color: rgb(255, 0, 51);
}
.landing__content .text h1 .i::before {
  position: absolute;
  content: "ı";
  color: black;
}
.landing__content .text p {
  margin-top: -1rem;
  font-size: var(--p-font);
  margin-bottom: 4rem;
}
@media (max-width: 790px) {
  .landing__content .text p {
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

.shop .filtration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem;
}
.shop .filtration .filterbtn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 7px;
  background: #fdfdfd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: black;
  transition: 0.4s ease;
}
.shop .filtration .filterbtn:hover, .shop .filtration .filterbtn.active {
  background: linear-gradient(to bottom, rgb(238, 183, 81), rgb(255, 0, 0));
}
.shop__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
.shop__content .product {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s linear;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.shop__content .product:hover .image .fav {
  transform: scale(1);
}
.shop__content .product .image {
  height: 20rem;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(238, 183, 81), rgb(255, 0, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.shop__content .product .image .fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: var(--p-font);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fdfdfd;
  text-align: center;
  background-color: rgb(255, 0, 51);
  transition: 0.4s ease;
  transform: scale(0);
}
.shop__content .product .image img {
  width: 300px;
  transition: 0.3s linear;
}
.shop__content .product .image:hover img {
  transform: scale(1.1);
}
.shop__content .product .details {
  padding: 1rem;
}
.shop__content .product .details h3 {
  font-size: var(--p-font);
  margin-bottom: 1rem;
}
.shop__content .product .details .review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop__content .product .details .review span {
  padding: 0.2rem 0.7rem;
  border-radius: 7px;
  background-color: rgb(255, 0, 51);
  color: white;
  font-size: var(--link-font);
}
.shop__content .product .details .review .rate i {
  color: rgb(255, 0, 51);
  font-size: var(--link-font);
}

.arrival__content {
  display: grid;
}
.arrival__content .trend {
  position: relative;
  padding: 1rem;
}
.arrival__content .trend div {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fdfdfd;
}
.arrival__content .trend div h3 {
  font-size: var(--h3-font);
}
.arrival__content .trend div h4 {
  font-size: var(--p-font);
  margin-bottom: 1.5rem;
}
.arrival__content .trend div p {
  font-size: var(--link-font);
}
.arrival__content .tr1, .arrival__content .tr3 {
  grid-column: 1;
}
.arrival__content .tr2 {
  grid-column: 2;
  grid-row: 1/3;
}
@media (max-width: 790px) {
  .arrival__content .tr2 {
    grid-column: 1;
    grid-row: 2/3;
  }
}
.arrival__content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.collection__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.75rem;
}
.collection__content .product {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3s linear;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: none;
}
.collection__content .product:nth-of-type(1), .collection__content .product:nth-of-type(2), .collection__content .product:nth-of-type(3) {
  display: inline-block;
}
.collection__content .product:hover {
  transform: scale(1.05);
}
.collection__content .product:hover .image {
  background: linear-gradient(to bottom, rgb(238, 183, 81), rgb(255, 0, 0));
  transition: 0.5s ease-in-out;
}
.collection__content .product:hover .info .btn, .collection__content .product .fav {
  transform: scale(1);
}
.collection__content .product:hover .image .fav {
  transform: scale(1);
}
.collection__content .product .image {
  height: 20rem;
  overflow: hidden;
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  cursor: pointer;
}
.collection__content .product .image .fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: var(--p-font);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fdfdfd;
  text-align: center;
  background-color: rgb(255, 0, 51);
  transition: 0.4s ease;
  transform: scale(0);
}
.collection__content .product .image img {
  width: 300px;
  transition: 0.3s linear;
}
.collection__content .product .details {
  padding: 1rem;
}
.collection__content .product .details .info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
}
.collection__content .product .details .info span {
  padding: 0.5rem;
  width: 130px;
  transform: scale(0);
  transition: 0.4s ease;
}
.collection__content .product .details h3 {
  font-size: var(--p-font);
  margin-bottom: 1rem;
  color: black;
}
.collection__content .product .details .review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collection__content .product .details .review span {
  color: #838383;
  font-size: var(--link-font);
}
.collection__content .product .details .review .rate i {
  color: rgb(255, 0, 51);
  font-size: var(--link-font);
}

#showbtn {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  width: 170px;
}

.statistic {
  background-color: #fff0f3;
}
.statistic__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.statistic__content .stat {
  text-align: center;
}
.statistic__content .stat i {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-color: #fdfdfd;
  line-height: 80Px;
  text-align: center;
  color: rgb(255, 0, 51);
  font-size: var(--h3-font);
  margin-bottom: 2rem;
  transition: 0.4s ease;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.statistic__content .stat i:hover {
  color: white;
  background-color: rgb(255, 0, 51);
}
.statistic__content .stat h3 {
  font-size: var(--p-font);
  margin-bottom: 0.75rem;
}
.statistic__content .stat p {
  font-size: var(--link-font);
}

.blogs__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
.blogs__content .blog {
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.blogs__content .blog .image {
  height: 25rem;
  width: 100%;
}
.blogs__content .blog .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs__content .blog .details {
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.blogs__content .blog .details h4 {
  font-size: var(--h4-font);
  margin-bottom: 0.5rem;
  color: rgb(255, 0, 51);
}
.blogs__content .blog .details p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.blogs__content .blog .details span {
  font-size: var(--small-font);
  font-weight: 600;
  color: #838383;
}

.themes {
  background-color: white;
  color: black;
}/*# sourceMappingURL=style.css.map */