@use '../helpers/variables' as *;
@use '../components/responsive' as *;
.btn{
    display: inline-block;
    padding: .7rem 2rem;
    border-radius: .5rem;
    font-size: var(--link-font);
    text-transform: capitalize;
    background: $secondary-color;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
     
        width: 0;
        height: 100%;
        background-color:rgb(255, 85, 0) ;
      
        transition: $transition;
        z-index: -1;
    }
    
    @include breakpoint(tablet){
       font-size: var(--small-font);
       padding: .5rem 1.5rem;
        }
  
    &:hover::before{
        width: 100%;
      
    }
}